<div class="container">

  <h1 class= "text-center"><%= @area.name %></h1>
  <div class="links">
    <%= link_to "Add a runner", new_area_runner_path(@area), class: "btn btn-success btn-lg" %>
    <% if current_user.id == @area.user_id %>
      <%= link_to "Email Users", area_weekly_email_path(current_user.area) , class: "btn btn-success btn-lg"%>
    <% end %>
  </div>
  <h2 class= "text-center"><%= @area.name %> runners: </h2>
  <div class="row">
    <% @area.runners.each do |runner|%>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <% if runner.status == "regular" %>
          <div class="card regular">
        <% elsif runner.status == "lapsed" %>
          <div class="card lapsed">
        <% else %>
          <div class="card never-run">
        <% end %>
          <div class="details">
            <h4> <%= runner.first_name %> <%= runner.last_name %> </h4>
          </div>
          <div class="pic">
            <%= cl_image_tag runner.photo, class:"runner-pic" %>
          </div>
          <div class="interests">
            <% if runner.coach_run  %>
              <i class="fas fa-hands-helping fa-3x"></i>
            <% end %>
            <% if runner.group_run %>
              <i class="fas fa-users fa-3x"></i>
            <% end %>
            <% if runner.mission %>
              <i class="fas fa-people-carry fa-3x"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
